img{
    width:9vw;
    position:fixed;
    left:0;
    margin-left: 150px;
    margin-top: 4vh;
}
h1 p{
    padding-top: 6vh;
    text-decoration: none;
    color: rgb(241, 22, 150);
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}